*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;

}

/* .container{
    width: 1350px !important;
} */
pre{
    white-space: pre-line !important;
}

p{
    margin: 0;
    padding: 0;
}

.card {
    
    border-top-right-radius: 35px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.btn-custom {
    background-color: #f39c12;
    color: white;
    padding: 10px 40px;
    margin-right:18px ;
}
.btn-custom:hover {
    background-color: #e67e22;
}
.icon {
   
    font-size: 18px;
    margin-left: 5px;
}
.butn {
    display: flex;
    margin: 20px 0 ;
   
}
.list-group  i {
    color: #e67e22;
    margin-right: 10px;
    font-size: 20px;
} 
 .card-body .card-title1 {
    font-size: 30px;
    margin: 30px 0; 
}

.load-button {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #2b2929;
    background: none;
    border: none;
    cursor: pointer;
    padding: 80px 0 ;
}
.spinner {
    width: 18px;
    height: 18px;
    border: 2px solid #ccc;
    border-top-color: #888;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-right: 8px;
}
a{
    color: #ffffff;
    text-decoration: none;
}








.card:hover {
    transform: translateY(-5px);
}

.card-title {
    font-size: 20px;   
     font-weight: bold;
     text-align: left;
}
.list-group-item {
    border: none;
    padding: 5px 0;
}
.swiden{
    display: flex;
    justify-content: space-between;
}
.swiden a {
    text-decoration: none;
    color: rgb(243, 133, 7);

}





@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}










