.footer {

    margin-top: 190px;

    &__line {
        display: flex;
        justify-content: space-between;
        align-items: start;
        margin-top: 40px;
    }

    &__list1,
    &__list2,
    &__list3 {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__link,
    &__link2,
    &__link3 {
        text-decoration: none;
        color: #000;
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &__copyright {
        all: unset;
    }

    &__tel {
        text-decoration: none;
        color: #000;
    }

    &__socials a {
        text-decoration: none !important;
    }
}

@media only screen and (max-width: 480px) {
    .footer {

        &__list1,
        &__list2,
        &__list3,
        .bottom {
            display: none;
        }

        &__container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__line {
            display: block;
        }

        &__grid {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__socials {
            margin-top: 10px;

            a {
                text-decoration: none;
                padding-top: 10px;
            }
        }

        &__bottom {
            display: none !important;
        }
    }
}